*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.list-a{
  margin:50px auto 50px;
  width:960px;
}

.list{
  list-style:none;
  padding: 20px;
}
.list:nth-child(odd){
  background-color:grey;
}

.box-a{
  width: 960px;
  display:flex;
  flex-wrap:wrap;
  margin-bottom:50px;
  margin:0 auto;

}
.box{
  height:200px;
  width:30%;
  margin-bottom:40px;
}
.box{
  background-color:yellow;
}
.box:nth-child(4n+1){
  background-color:orange;
}
.box:not(:nth-child(3n)){
  margin-right:5%;
}




