*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.main-visual{
  width: 100%;
  height:400px;
  background-image: url(img/mv.jpg);
  background-size:cover;
  background-position: bottom;
}
.heading{
  font-size: 40px;
  padding-top:20px;
  padding-left:20px;
}
.heading-text{
  color:grey;
}
.main{
  margin: 50px auto;
  width:840px;
}
.main-box{
  margin-top: 30px;
}
.main-item{
  width: 840px;
  border-bottom:1px solid grey;
}
.content{
  margin-bottom:30px;
}