*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

.heading{
  width: 100%;
  height: 50px;
  background-color: #ff9a4b; 
}
.footer{
  width: 100%;
  height: 50px;
  background-color: #aaaaaa;
}
main{
  display:flex;
  margin:50px auto;
  width:960px;
}
.service{
  width:300px;
  background-color: #eeeeee;
  padding: 10px;
  position: relative;
  
}

.service2{
  width:300px;
  background-color: #eeeeee;
  padding:10px;
  position: relative;
  margin-right:30px;
  margin-left:30px;
}

.service3{
  width:300px;
  background-color: #eeeeee;
  padding:10px;
  position: relative;
  
}

span{
  background-color:#ff9a4b;
  position: absolute;
  top:0;
}

.img{
  top:10px;
  right:10px;
  width: 280px;
  height:150px;
  background-image:url(img/flow01.png);
  background-size:cover;
  background-position: bottom;
}

.img2{
  top:10px;
  right:10px;
  width: 280px;
  height:150px;
  background-image:url(img/flow02.png);
  background-size:cover;
  background-position: bottom;
}

.img3{
  top:10px;
  right:10px;
  width: 280px;
  height:150px;
  background-image:url(img/flow03.png);
  background-size:cover;
  background-position: bottom;
}

.title{
  margin-top:15px;
  margin-bottom:5px;
}

@media screen and (max-width:768px){

main{
  display:block;
  width:100%;
  
}
.service{
  width:90%;
  margin:0 auto;
  margin-bottom:20px;
}
.service2{
  width:90%;
  margin:0 auto;
  margin-bottom:20px;
}
.service3{
  width:90%;
  margin:0 auto;
}
.img{
  width:auto;
}
.img2{
  width:auto;
}.img3{
  width:auto;
}


}
